html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Author: Andrew J. Prasetyo Jo */
/* Copyright 2011 */
/************************************************************************************************************* */
/*******************************************************************************************   #MIXINS    **** */
/************************************************************************************************************* */
/*                                                                          // Font mixins */
/*                                                                          // CSS3 mixin */
/*                                                                          // Clearfix mixins */
/************************************************************************************************************* */
/**************************************************************************************   #COMMON HTML    **** */
/************************************************************************************************************* */
html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelveticaNeue", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  background: #fefefa;
  font-size: 14px;
  font-weight: 300;
  font-smooth: always;
  color: #969797; }

body {
  background: url(../images/noise_01.png);
  -webkit-text-size-adjust: none;
  position: relative;
  width: 1024px;
  height: 1024px; }
  body.landscape {
    width: 1024px;
    height: 768px; }
  body.portrait {
    width: 768px;
    height: 1024px; }

a {
  font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: normal;
  font-weight: bold;
  color: #797a7a;
  text-decoration: none; }
  a:hover {
    color: #1075ca; }

#header {
  background: #dcdcda;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcdcda), to(#ababaa));
  background: -moz-linear-gradient(top, #dcdcda, #ababaa);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom')";
  -webkit-box-shadow: 0px 0px 10px #cbcbcb, inset 0px 0px 10px #cbcbcb;
  -moz-box-shadow: 0px 0px 10px #cbcbcb, inset 0px 0px 10px #cbcbcb;
  box-shadow: 0px 0px 10px #cbcbcb, inset 0px 0px 10px #cbcbcb;
  text-align: center;
  border: 1px solid #9a9a9b;
  border-left-width: 0px;
  border-right-width: 0px;
  height: 38px;
  padding: 0px 0px 10px; }
  #header h1#logo {
    font-family: "Swanky and Moo Moo", cursive;
    font-weight: normal;
    font-size: 40px;
    color: #475264;
    text-shadow: 0px 0px 5px #8a8a8a, -1px 1px 0px #dcdcdf; }

ul#keywords {
  -webkit-box-shadow: inset 0px 0px 10px #0c51a2;
  -moz-box-shadow: inset 0px 0px 10px #0c51a2;
  box-shadow: inset 0px 0px 10px #0c51a2;
  display: block;
  background: #2c71c2;
  height: 30px;
  color: #fafaef;
  line-height: 30px; }
  ul#keywords li.keyword {
    display: block;
    float: left;
    text-shadow: 0px 0px 5px #8a8a8a, -1px 1px 0px #57575a;
    margin: 0px 10px; }

ul#content {
  display: block;
  position: relative;
  width: 1024px;
  height: 628px; }
  ul#content li.article {
    display: block;
    position: relative;
    background: url(../images/noise_01.png);
    float: left;
    width: 512px;
    color: #474562;
    line-height: 120%; }
    ul#content li.article .icon {
      display: block;
      position: relative;
      height: 120px;
      margin: 10px 10px 0px;
      overflow: hidden; }
      ul#content li.article .icon img {
        width: 100%; }
    ul#content li.article > h2.title {
      border-bottom: 3px solid #476275;
      margin: 10px 10px 0px;
      padding-bottom: 5px;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: bold;
      font-size: 20px; }
    ul#content li.article.twitter p.message {
      position: relative;
      margin: 10px 10px;
      padding: 15px 30px; }
      ul#content li.article.twitter p.message .begin_quote {
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        top: 0px;
        left: 0px;
        font-size: 32px;
        font-weight: bold;
        color: #7c7c7c;
        line-height: 32px;
        text-align: left; }
      ul#content li.article.twitter p.message .poster {
        margin-top: 5px;
        font-style: italic;
        color: #7c7c7c;
        text-align: right; }
      ul#content li.article.twitter p.message .end_quote {
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        bottom: 0px;
        right: 0px;
        font-size: 32px;
        font-weight: bold;
        color: #7c7c7c;
        line-height: 32px;
        text-align: right; }
      ul#content li.article.reddit h2.title {
        border-bottom: 3px solid red; }
      ul#content li.article.flickr h2.title {
        position: absolute;
        display: block;
        width: 100%;
        height: 30px;
        background: rgba(0, 0, 5, 0.62);
        top: 90px;
        left: 0px;
        line-height: 30px;
        padding: 0px 10px;
        color: #fafaff; }
    ul#content li.article p.description {
      display: block;
      margin: 10px 10px 10px; }
    ul#content li.article { }

#navigation {
  display: block;
  position: relative;
  background: url(../images/noise_01.png);
  width: 1024px;
  height: 40px;
  padding: 5px 0px; }
  #navigation #prev_page,
  #navigation #next_page {
    float: left;
    display: block;
    width: 77px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    line-height: 30px;
    text-align: center; }
  #navigation #prev_page {
    border-right: 3px solid #474848; }
  #navigation #next_page {
    border-left: 3px solid #474848; }
  #navigation ul#pagination {
    display: block;
    float: left;
    width: 824px;
    height: 30px;
    margin: 5px 0px;
    text-align: center; }
    #navigation ul#pagination li.bullet {
      display: inline-block;
      border-radius: 5px;
      background: #00000f;
      width: 10px;
      height: 10px;
      margin: 10px 3px; }

body.portrait ul#content {
  width: 768px;
  height: 894px; }
  body.portrait ul#content li.article {
    width: 384px;
    height: 224px; }

body.portrait #navigation {
  width: 768px; }
  body.portrait #navigation ul#pagination {
    width: 568px; }
